* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Exo", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/******************************/
/* HERO SECTION */
/******************************/

.section-hero {
  background-color: #ebf1fe;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 15px;
}

.skills {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}

.skills-imgs {
  display: flex;
}

.skills-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  background-color: #ebf1fe;
  border: 3px solid #ebf1fe;
}

/******************************/
/* HANS ROSLING SECTION */
/******************************/

.section-hans {
  align-items: center;
  padding: 2.4rem 0;
  background: linear-gradient(#d7e2fc, #86a8f7);
}

.hans-text {
  margin-top: 6.4rem;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.8rem;
}

.hans-quote {
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #204291;
  margin-bottom: 4.8rem;
}

.hans-author {
  font-weight: 400;
  font-size: 3rem;
  text-indent: 60%;
  color: #204291;
}

.fallingLeaves {
  height: 50rem;
}

.fallingLeaves span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: -280px 40px 54px -34px;
  /* background: url(“number-svg.svg”); */
  background: url(“/Users/dunya/Desktop/Portfolio Site/img/test.png”);

  -webkit-animation: fallingLeaves 10s infinite linear;
  -moz-animation: fallingLeaves 10s infinite linear;
}

.fallingLeaves span:nth-child(5n + 5) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}
.fallingLeaves span:nth-child(3n + 2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

.fallingLeaves span:nth-child(2n + 5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

/* MOVE LATER  */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.4s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #356ef2;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #2a58c2;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: #fff;
  color: #555;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #ebf1fe;
  /* Trick to add border inside element*/
  box-shadow: inset 0 0 0 3px #fff;
  color: #3063da;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* MOVE LATER  */
